# Slack channel: #2022_hackathon_nycburstweek
# open https://docs.google.com/document/d/1S8rkg6ud1HpkfPN7e68P8ADSsQb39nP8fWDiqqixAo4/edit

export KUBECONFIG=/Users/ciberkleid/.secrets/kubeconfig-team-a
export TANZU_CLI_NO_INIT=true
export NAMESPACE=team-a
